.VuetifyApp {
    #digital-workplace-news {
      //background: white;
  }
  #digital-workplace-events {
    margin-right: 12px;
  }
  #digital-workplace-tasks {
    margin-right: 12px;
  }
  .color-title {
    color: #A7B3C5;
  }
  .rounded-card {
    border-radius: .3rem;
  }
  #digital-workplace-profile-stats {
    background: transparent;
  }
}
