// Variables
@primaryColor: #578DC9;
@greyColor: #a8b3c5;

.VuetifyApp {
  .primary-color {
    background-color: @primaryColor!important;
    border-color: @primaryColor!important;
  }
  .primary-color--text {
    color: @primaryColor !important;
    caret-color: @primaryColor !important;
  }

  .grey-color {
    color: @greyColor!important;
  }

  .color-title {
    color: #a8b3c5;
  }
  .Rectangular-card {
    border-radius: 0em;
  }

  #digital-workplace-profile-stats {
    background: transparent;
    .profileCard {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 320px;
      cursor: pointer;
      transform-style: preserve-3d;
      transition: transform 1s;
    }

    .profileCard.is-flipped {
      transform: rotateY(-180deg);
    }
    .profileStats{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .ConnexionsRequests {
      background: white;
      transform: rotateY(180deg);
    }
    .caption-1 {
      font-size: 0.7rem!important;
    }
    .v-badge.badge-color .v-badge__badge {
      background-color: @primaryColor!important;
      border-color: @primaryColor!important;
    }

    .top1 {
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-name: toTop1;
      animation-name: toTop1;
    }

    .top2 {
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-name: toTop2;
      animation-name: toTop2;
    }

    .top3 {
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-name: toTop3;
      animation-name: toTop3;
    }

    .podium-layout {
      min-height: 100px;
    }
  }
  .blueText{font-size: 15px;color: #568DC9}
  .iconlarge{font-size: 50px;color:#6CCBAE;font-size: 40px;}

}

/*--------------- HomePage Containers Structure ---------------------------*/

#digitalWorkplaceHomePage {
	margin: 12px;
}

#SliderContainer, #MiddleContainer {
	margin-bottom: 12px;
}

.LatestNewsContainerTDContainer {
	width: 75%;
    background: #fff;
    border-right: 10px solid #f2f2f2;
}

.EventsContainerTDContainer, .TasksContainerTDContainer {
	width: 33.3333333333%;
}

#EventsContainer, #TasksContainer {
	margin-right: 12px;
}

#PerkstoreWalletContainer tr td {
  background-color: #fff;
}

#PerkstoreWalletContainer .PerkstoreContainerTDContainer {
  border-right: 5px solid #f2f2f2;
}

@media (max-width: 768px) {
	.TRContainer .TDResponsiveContainer {
	    width: 100%;
	    float: left;
	    margin-right: 0;
	    margin-bottom: 12px;
	}
}

/*--------------- Podium Animation ---------------------------*/
@keyframes fadeIn {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes toTop1 {
  0% {
    height: 0;
  }
  100% {
    height:60px;
  }
}

@keyframes toTop2 {
  0% {
    height: 0;
  }
  100% {
    height:45px;
  }
}

@keyframes toTop3 {
  0% {
    height: 0;
  }
  100% {
    height:30px;
  }
}
