// Variables
@primaryColor: #578DC9;
@greyColor: #a8b3c5;

/*--------------- HomePage Containers Structure ---------------------------*/

#digitalWorkplaceHomePage {
  margin: 20px;
  td {
    padding: 0 !important;
  }
  .TasksContainerTDContainer, .DocumentsContainerTDContainer, .rightbottom-spaces-containerTDContainer {
    flex: 0 1 32%;
    background: #fff;
    overflow: hidden;
  }
  #ProfileStatsContainer {
    margin-bottom: 10px;
  }

  #SliderContainer, #MiddleContainer {
    margin-bottom: 20px;
  }

  #MiddleContainer tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .LatestNewsContainerTDContainer {
    flex: 0 1 74%;
    background: #fff;
    overflow: hidden;
  }

  .UserProfileContainerTDContainer {
    flex: 0 1 26%;
    margin-left: 10px;
  }

  #BottomContainer tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .PerkstoreContainerTDContainer, .WalletContainerTDContainer {
    flex: 0 1 49%;
    background: #fff;
  }

  #PerkstoreContainer, #WalletContainer {
    height: 100%;
  }
}

@media (max-width: 1200px) {
  .LatestNewsContainerTDContainer {
    flex: 0 1 100%;
    margin-right: 0;
  }
  .UserProfileContainerTDContainer {
    flex: 0 1 100%;
    margin-left: 0;
  }
  #UserProfileContainer {
    margin-top: 20px;
  }
  #UserProfileContainer .NormalContainerBlock .VIEW-CONTAINER div .UIRowContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #PerkstoreContainer , #WalletContainer{
    .NormalContainerBlock {
      .VIEW-CONTAINER {
        div {
          .UIRowContainer {
            div {
              width: inherit;
            }
          }
        }
      }
    }
  }
  #ProfileStatsContainer {
    flex: 0 1 68.5%;
    background: #fff;
  }
  #PerkstoreWalletContainer {
    flex: 0 1 30%;
  }
  #ProfileStatsContainer .UIRowContainer {
    display: block!important;
  }
  .PerkstoreContainerTDContainer, .WalletContainerTDContainer {
    flex: 0 1 100%;
    min-height: 138px;
  }
  .PerkstoreContainerTDContainer {
    margin-bottom: 10px;
  }

  #digital-workplace-profile-stats {
    background: transparent;
    .profileCard {
      max-height: 280px!important;
      height: 280px!important;
    }
  }
  .profileCard {
    margin-bottom: 0!important;
  }
  #digitalWorkplaceHomePage {
    .rightbottom-spaces-containerTDContainer, .TasksContainerTDContainer {
      flex: 0 0 48.7%;
      background: #fff;
      margin-right: 0;
    }
    .DocumentsContainerTDContainer {
      flex: 1 1 100%!important;
      margin-top: 20px;
    }
  }
  #MiddleContainer tr {
    flex-wrap: wrap;
  }

  #digital-workplace-slider {
    .carousel-text {
      font-size: 1.5rem !important;
    }
  }

  #digital-workplace-news {
    .news-container {
      min-height: auto!important;
    }
  }

  #DocumentsContainer {
    .v-slide-group__wrapper{
      padding-left: 18px;
    }
  }
  #NavigationToolbarPortlet {
    max-width: 300px!important;
    .v-tab {
      margin-left: 0px!important;
    }
  }
  #administration-navigation {
    display: none;
  }
  .DWAdminToolBarPortletTDContainer {
    display: none;
  }
  .NotificationPopoverPortletTDContainer {
    padding-right: 8px;
  }
}

@media (max-width: 599px) {

  #digitalWorkplaceHomePage {
    .rightbottom-spaces-containerTDContainer, .TasksContainerTDContainer {
      flex: 0 0 100%;
      margin-top: 20px;
    }
  }
  #ProfileStatsContainer {
    flex: 0 1 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  #PerkstoreWalletContainer {
    flex: 0 1 100%;
  }
  .PerkstoreContainerTDContainer {
    margin-bottom: 0;
  }
  .PerkstoreContainerTDContainer, .WalletContainerTDContainer {
    flex: 0 1 49%;
    min-height: 110px;
  }
  #digitalWorkplaceHomePage {
    margin: 10px;
  }
  #SliderContainer, #MiddleContainer {
    margin-bottom: 10px;
  }
  #UserProfileContainer {
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .PerkstoreContainerTDContainer, .WalletContainerTDContainer {
    flex: 0 1 48.3%;
    min-height: 90px;
  }
}

@media (max-width: 599px) {
  #digitalWorkplaceHomePage {
    margin: 10px;
  }
}

/*--------------- Documents Tabs CSS ---------------------------*/
#DocumentsContainer {
    .header {
      font-size: 1rem;
      text-transform: uppercase;
      padding: 16px;
      padding-bottom: 8px;
      color: @greyColor;
    }
  .v-slide-group__next,
  .v-slide-group__prev {
    flex:0 1 25px;
    min-width: 25px;
  }
  .v-slide-group__next > i,
  .v-slide-group__prev > i{
    color: @primaryColor;
  }
  .v-tabs-slider-wrapper{
    height: 3px!important;
  }
  .v-tab {
    box-sizing: border-box;
  }
  .v-tab > .tabsTitle {
    color:@greyColor
  }
  .v-tab--active > .tabsTitle {
    color:@primaryColor
  }
  .tabsTitle {
    font-size: 1rem!important;
    font-weight: 400;
    letter-spacing: .009375em!important;
    line-height: 1.75rem;  text-transform: capitalize;
  }
}